@using System.Diagnostics.Eventing.Reader
@using System.Web.Mvc.Html


<div class="form-group">
    <table class="table table-bordered">
        <tr>
            <td>
                Room Name
            </td>
            <td>
                @ViewBag.RoomName
            </td>
        </tr>
        <tr>
            <td>
                Room Type
            </td>
            <td>
                @ViewBag.RoomType
            </td>
        </tr>
        <tr>
            <td>
                Room Descrciption
            </td>
            <td>
                @ViewBag.Description
            </td>
        </tr>
        <tr>
            <td>
                Room Price
            </td>
            <td>
                @ViewBag.Price
            </td>
        </tr>
        @if (ViewBag.Status != null)
        {
            <tr>
                <td>
                    Room Status
                </td>
                <td>
                    <b>Booked</b>
                </td>
            </tr>
        }
        else
        {
            <tr>
                <td>
                    Room Status
                </td>
                <td>
                    <b>Available</b>
                </td>
            </tr>
        }

    </table>
</div>
